<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Members Only</title>
        <link rel="stylesheet" href="/styles/styles.css" />
    </head>

    <body>
        <%- include('../partials/navbar.ejs') %>
        <main class="wrapper">
            <h1>Login</h1>
            <form action="/account/login" method="POST">
                <div
                    class="input-group <%= (errors?.username || errors?.login) ? 'invalid' : '' %>"
                >
                    <label for="username">Username</label>
                    <input
                        id="username"
                        type="text"
                        name="username"
                        placeholder="Username"
                        value="<%= previous ? previous.username : '' %>"
                    />
                    <% if (errors?.username) { %>
                    <small class="error"><%= errors.username.msg %></small>
                    <% } %>
                </div>

                <div
                    class="input-group <%= (errors?.password || errors?.login) ? 'invalid' : '' %>"
                >
                    <label for="password">Password</label>
                    <input
                        id="password"
                        type="password"
                        name="password"
                        placeholder="Password"
                    />
                    <% if (errors?.password) { %>
                    <small class="error"><%= errors.password.msg %></small>
                    <% } %>
                </div>

                <% if (errors?.login) { %>
                <div><small class="error"><%= errors.login.msg %></small></div>
                <% } %>

                <button type="submit">Login</button>

                <hr />

                <div>
                    Don't have an account?
                    <a href="/account/sign-up">Sign Up</a>
                </div>
            </form>
        </main>

        <%- include('../partials/footer.ejs') %>
    </body>
</html>
