<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Members Only</title>
    </head>

    <body>
        <%- include('../partials/navbar.ejs') %>

        <h1>Login</h1>

        <form action="/account/login" method="POST">
            <!-- prettier-ignore -->
            <% const isInvalid = !!locals.loginError %>
            <% let usernameValid = true %>
            <% let passwordValid = true %>
            <% if (locals.errors) { %>
            <% usernameValid = (errors.username) ? false : true %>
            <% passwordValid = (errors.password) ? false : true %>
            <% } %>

            <div class="input-group <%= isInvalid ? 'invalid' : '' %>">
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="Username" />
                <% if (!usernameValid) { %>
                <small class="error"><%= errors.username.msg %></small>
                <% } %>
            </div>

            <div class="input-group <%= isInvalid ? 'invalid' : '' %>">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Password" />
                <% if (!passwordValid) { %>
                <small class="error"><%= errors.password.msg %></small>
                <% } %>
            </div>

            <% if (locals.loginError) { %>
            <div><small class="error"><%= loginError %></small></div>
            <% } %>

            <button type="submit">Login</button>
        </form>

        <%- include('../partials/footer.ejs') %>
    </body>
</html>
