<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Members Only</title>
    </head>

    <body>
        <%- include('../partials/navbar.ejs') %>

        <h1>Sign Up</h1>

        <form action="/account/sign-up" method="POST">
            <!-- prettier-ignore -->
            <% let usernameValid = true %>
            <% let firstnameValid = true %>
            <% let lastnameValid = true %>
            <% let passwordValid = true %>
            <% let confirmPasswordValid = true %>

            <% if (locals.errors) { %>
            <% usernameValid = !errors.username %>
            <% firstnameValid = !errors.firstname %>
            <% lastnameValid = !errors.lastname %>
            <% passwordValid = !errors.password %>
            <% confirmPasswordValid = !errors.confirmPassword %>
            <% } %>

            <div class="input-group <%= !usernameValid ? 'invalid' : '' %>">
                <label for="username">Username</label>
                <input
                    id="username"
                    type="text"
                    name="username"
                    placeholder="Username"
                    value="<%= previous ? previous.username : '' %>"
                />
                <% if (!usernameValid) { %>
                <small class="error"><%= errors.username.msg %></small>
                <% } %>
            </div>

            <div class="input-group <%= !firstnameValid ? 'invalid' : '' %>">
                <label for="firstname">First Name</label>
                <input
                    id="firstname"
                    type="text"
                    name="firstname"
                    placeholder="First Name"
                    value="<%= previous ? previous.firstname : '' %>"
                />
                <% if (!firstnameValid) { %>
                <small class="error"><%= errors.firstname.msg %></small>
                <% } %>
            </div>

            <div class="input-group <%= !lastnameValid ? 'invalid' : '' %>">
                <label for="lastname">Last Name</label>
                <input
                    id="lastname"
                    type="text"
                    name="lastname"
                    placeholder="Last Name"
                    value="<%= previous ? previous.lastname : '' %>"
                />
                <% if (!lastnameValid) { %>
                <small class="error"><%= errors.lastname.msg %></small>
                <% } %>
            </div>

            <div class="input-group <%= !passwordValid ? 'invalid' : '' %>">
                <label for="password">Password</label>
                <input
                    id="password"
                    type="password"
                    name="password"
                    placeholder="Password"
                    value="<%= previous ? previous.password : '' %>"
                />
                <% if (!passwordValid) { %>
                <small class="error"><%= errors.password.msg %></small>
                <% } %>
            </div>

            <div
                class="input-group <%= !confirmPasswordValid ? 'invalid' : '' %>"
            >
                <label for="confirmPassword">Confirm Password</label>
                <input
                    id="confirmPassword"
                    type="password"
                    name="confirmPassword"
                    placeholder="Confirm Password"
                />
                <% if (!confirmPasswordValid) { %>
                <small class="error"><%= errors.confirmPassword.msg %></small>
                <% } %>
            </div>

            <button type="submit">Sign Up</button>

            <div>
                Already have an account? <a href="/account/login">Login</a>
            </div>
        </form>

        <%- include('../partials/footer.ejs') %>
    </body>
</html>
