<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Members Only</title>
    </head>

    <body>
        <!-- prettier-ignore -->
        <%- include('../partials/navbar.ejs') %>

        <% let titleValid = true; %>
        <% if (locals.errors) { %>
        <% titleValid = !errors.title; %>
        <% } %>

        <h1>Create post</h1>

        <form action="/post/create" method="POST">
            <div class="input-group <%= (!titleValid ? 'invalid' : '') %>">
                <label for="title"></label>
                <input
                    id="title"
                    type="text"
                    name="title"
                    placeholder="Title"
                    value="<%= previous ? previous.title : '' %>"
                />
                <% if (!titleValid) { %>
                <small class="error"><%= errors.title.msg %></small>
                <% } %>
            </div>
            <div class="input-group">
                <label for="content"></label>
                <textarea
                    id="content"
                    name="content"
                    placeholder="Body text (optional)"
                ><%= previous ? previous.content : '' %></textarea>
            </div>
            <button type="submit">Post</button>
            <a href="/">Cancel</a>
        </form>

        <%- include('../partials/footer.ejs') %>
    </body>
</html>
