<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Members Only</title>
        <link rel="stylesheet" href="/styles/styles.css" />
    </head>

    <body>
        <!-- prettier-ignore -->
        <%- include('../partials/navbar.ejs') %>

        <% 
            const anonPlaceholder = '∗'.repeat(8);
            const isMember = ((currentUser?.role ?? 'guest') !== 'guest'); 
        %>

        <main id="posts" class="wrapper">
            <h1>Deleted</h1>
            <% if (!isMember && locals.currentUser) { %>
            <p class="banner">
                You are currently viewing deleted posts.
                <a href="/">Click here</a> to go back.
            </p>
            <% } %>

            <% if (locals.posts) {
            posts.forEach(post => {
            const username = (isMember) ? `${post.username}` : anonPlaceholder
            const fullName = (isMember) ? `${post.firstname} ${post.lastname}` : anonPlaceholder
            const createdAt = post.created_at.toDateString(); 
            %>
            <div class="post">
                <% if (post.deleter) { %>
                <div
                    class="banner"
                    style="background-color: #dd3535; border: none"
                >
                    This post was deleted by an admin:
                    <strong
                        >@<%= (isMember) ? post.deleter : anonPlaceholder %></strong
                    >
                </div>
                <% } %>
                <div class="post-meta">
                    <div class="left">
                        <div class="avatar"></div>
                        <span class="post-author"><%= fullName %></span>
                        <span class="post-username"><%= `@${username}` %></span>
                    </div>
                    <div>
                        <span class="post-date"><%= createdAt %></span>
                    </div>
                </div>
                <h3 class="post-title"><%= post.title %></h3>
                <p class="post-content"><%= post.content %></p>

                <% if (currentUser?.role === 'admin' && !post.deleter) { %>
                <button
                    class="btn-delete"
                    type="button"
                    data-post-id="<%= post.id %>"
                >
                    ⊖ Delete
                </button>
                <% } %>
            </div>
            <% }) %>
            <p>
                <a href="/">Go back home</a>
            </p>
            <% } else { %>
            <p>No posts available.</p>
            <% } %>
        </main>

        <%- include('../partials/footer.ejs') %>
    </body>
</html>
