<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Members Only</title>
    </head>

    <body>
        <%- include('./partials/navbar.ejs') %>

        <h1>Posts</h1>

        <div id="posts">
            <% if(locals.currentUser) { %>
            <a href="/post/create">Post</a>
            <% } else { %>
            <a href="/account/sign-up">Join the conversation</a>
            <% } %>

            <% if (locals.posts) { %>
            <% posts.forEach(post => { %>
            <% const createdAt = post.created_at.toDateString(); %>
            <div class="post">
                <div>
                    <h3>
                        <%= post.title %>
                    </h3>
                </div>
                <p><%= post.content %></p>
                <small>
                    <%= `${post.firstname} ${post.lastname} @${post.username}` %>
                    | Posted on
                    <%= createdAt %>
                </small>
            </div>
            <% }) %>
            <% } else { %>
            <p>No posts available.</p>
            <% } %>
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>
