<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Members Only</title>
    </head>

    <body>
        <!-- prettier-ignore -->
        <%- include('./partials/navbar.ejs') %>

        <% const anonPlaceholder = '*'.repeat(8); %>
        <% const isMember = ((currentUser?.role ?? 'guest') !== 'guest'); %>

        <h1>Posts</h1>
        <% if (!isMember && locals.currentUser) { %>
        <p class="banner">
            You are currently browsing as a guest. To see other users you have
            to <a href="/join">join the club</a> first.
        </p>
        <% } %>
        <div id="posts">
            <% if (locals.currentUser) { %>
            <div>
                <a href="/post/create">Post</a>
            </div>
            <% } else { %>
            <div>
                <a href="/account/sign-up">Join the conversation</a>
            </div>
            <% } %>

            <% if (locals.posts) { %>
            <% posts.forEach(post => { %>
            <% const username = (isMember) ? `${post.username}` : anonPlaceholder %>
            <% const fullName = (isMember) ? `${post.firstname} ${post.lastname}` : anonPlaceholder %>
            <% const createdAt = post.created_at.toDateString(); %>
            <div class="post">
                <div>
                    <h3>
                        <%= post.title %>
                    </h3>
                </div>
                <p><%= post.content %></p>
                <small>
                    <%= `${fullName} @${username}` %>
                    | Posted on
                    <%= createdAt %>
                </small>
            </div>
            <% }) %>
            <% } else { %>
            <p>No posts available.</p>
            <% } %>
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>
